<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation debug="true" targetFramework="4.0">
      
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="HeliSound" connectionString="Data Source=localhost;Initial Catalog=HeliSound;Integrated Security=True" providerName="System.Data.SQLClient"/>
  </connectionStrings>
</configuration>